<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">CDU Prime</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

        <!-- Ashish -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Movie
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="students">SiFi</a></li>
            <li><a class="dropdown-item" routerLink="courses">Comedy</a></li>
          </ul>
        </li>

        <!-- Anand -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            NewMovie
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="employees">Exclusive</a></li>
            <li><a class="dropdown-item" routerLink="subjects">HotPack</a></li>
          </ul>
        </li>

        <!-- Sagar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ComingSoon
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="lecturers">Almost There</a></li>
          </ul>
        </li>
    </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>